# Параметры для docker-compose (используются всеми сервисами проекта).

# --- База данных ---
POSTGRES_USER=prac
POSTGRES_PASSWORD=prac
POSTGRES_DB=prac

# --- Бэкенд ---
# Возможные значения LOGGER_TYPE: dev | json | tskv
DATABASE_DRIVER=postgres
LOGGER_TYPE=tskv

# --- pgAdmin ---
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
